@use "../index.scss" as *;

.theme-toggle {
  position: relative;
}

.theme-toggle__thumb {
  @include circle(1rem);
  position: absolute;
  background: #000;
  top: 0;
  left: 0;
  transition: 0.2s;
}

.theme-toggle__right:checked ~ .theme-toggle__thumb {
  left: 2rem;
}
