@use "../index.scss" as *;

.theme-toggle-container {
  margin-left: auto;
  margin-top: 2rem;
}

.theme-toggle {
  @include circle();
  position: relative;
  padding: 3px 3px;
  background: var(--toggle);
  display: flex;

  label {
    @extend %hide-visually;
  }
}

.theme-toggle--left,
.theme-toggle--center,
.theme-toggle--right {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  position: relative;

  &:before {
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: -1.5rem;
    color: var(--text2);
    z-index: 10;
    transition: 0.2s;
  }

  &:checked:before {
    top: 4px;
  }
}

.theme-toggle--left {
  @extend .bx;
  @extend .bxs-moon;
  left: 3px;
}

.theme-toggle--right {
  @extend .bx;
  @extend .bxs-sun;
  left: 3px;
}

.theme-toggle__thumb {
  @include circle(21px);
  position: absolute;
  background: var(--card-bg);
  top: 3px;
  left: 3px;
  transition: 0.2s;
}

.theme-toggle--center:checked ~ .theme-toggle__thumb {
  left: 24px;
}

.theme-toggle--right:checked ~ .theme-toggle__thumb {
  left: 45px;
}
