@use "../index.scss" as *;

.header__title {
  margin-top: 1rem;
  margin-bottom: 0.1rem;
  font-size: 1.7rem;

  @include mq($desktop-width, up) {
    font-size: 2rem;
  }
}

.header__subtitle {
  font-weight: bold;
  color: var(--text);
}
